<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Master</title>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="static/styles.css">
        <!-- Favicon -->
        <link href="{{ url_for('static', filename='img/favicon.png') }}" alt="icon" rel="icon" style="background: none;">
        

</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{{ url_for('static', filename='img/ucw_logo.png') }}" alt="University Canada West">
            <h1>Syllabus Data Extractor</h1>
            <div class="input-container">
                <label for="fileInput">Select PDF file(s):</label>
                <input type="file" id="fileInput" multiple accept=".pdf">
            </div>
            <div class="input-container">
                <label for="folderInput">Select PDF folder:</label>
                <input type="file" id="folderInput" webkitdirectory directory accept=".pdf">
            </div>
            <button class="button" onclick="submitData()">Submit</button>
            <button class="button" id="exportButton">Export to Excel</button>
        </div>
        <div id="tableContainer">
            <table id="dataTable" class="display">
                <thead>
                    <tr>
                        <th>Serial Number</th>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Term/Method</th>
                        <th>Textbook Data</th>
                    </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </div>
    </div>
    <footer id="footer">
        <span id="copyright">
            &copy; <span id="currentYear"></span> PDF Master - All rights reserved.
        </span><br>
        Version: 1.0 - Developed by Samerth Pathak - <span id="currentDate"></span><br>
        <a href="https://www.linkedin.com/in/samerth-pathak" target="_blank">LinkedIn Profile</a>
    </footer>


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <!-- SheetJS JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.0/xlsx.full.min.js"></script>
    <script src="{{ url_for('serve_js', filename='scripts.js') }}"></script>
    <!-- <script>
        function adjustContainerWidth() {
            var table = document.getElementById('dataTable');
            var container = document.getElementById('tableContainer');
            var tableWidth = table.offsetWidth;
            container.style.width = tableWidth + 'px';
        }

        window.addEventListener('resize', adjustContainerWidth);
        window.addEventListener('load', adjustContainerWidth);

        function submitData() {
            const files = document.getElementById('fileInput').files;
            const folders = document.getElementById('folderInput').files;

            const formData = new FormData();

            // Append selected files to form data
            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                formData.append('files', file);
            }

            // Append selected folder files to form data
            for (let i = 0; i < folders.length; i++) {
                const file = folders[i];
                formData.append('files', file);
            }

            // Send files in form data
            fetch('/extract-pdf-data', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                addToTable(data);
                  // Show table headers after data is loaded
                //   document.getElementById('dataTable').getElementsByTagName('thead')[0].style.display = 'table-header-group';
            })
            
            .catch(error => {
                console.error('Error:', error);
                alert('Error extracting data. Please try again.');
            });
        }

        function addToTable(data) {
            console.log("Data received for table:", data);

            const tableBody = document.getElementById('tableBody');
            tableBody.innerHTML = '';

            data.forEach((pdfData, index) => {
                const row = tableBody.insertRow();
                row.insertCell().textContent = index + 1; // Serial Number
                row.insertCell().textContent = pdfData['Course Code'];
                row.insertCell().textContent = pdfData['Course Name'];
                row.insertCell().textContent = pdfData['Term/Method'];
                const textbookCell = row.insertCell();
        const link = document.createElement('a');
        link.href = "#";
        link.textContent = pdfData['Textbook Data']['Raw_Text'];
        link.onclick = function(event) {
            event.preventDefault();
            window.open(`https://www.google.com/search?q=${encodeURIComponent(link.textContent)}`, '_blank');
        };
        textbookCell.appendChild(link);
    });

            $('#dataTable').DataTable().destroy();
            $('#dataTable').DataTable({
                "pageLength": 10,
                "destroy": true
            });
        }

        function refreshPage() {
            location.reload();
        }

        document.getElementById('exportButton').addEventListener('click', function() {
            exportTableToExcel('dataTable', 'PDF_Data');
        });

        function exportTableToExcel(tableID, filename = ''){
            var downloadLink;
            var dataType = 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=UTF-8';
            var tableSelect = document.getElementById(tableID);
            var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

            filename = filename?filename+'.xlsx':'excel_data.xlsx';

            downloadLink = document.createElement("a");

            document.body.appendChild(downloadLink);

            var worksheet = XLSX.utils.table_to_book(tableSelect, {sheet: "Sheet1"});
            var wbout = XLSX.write(worksheet, {bookType: 'xlsx', type: 'binary'});
            var blob = new Blob([s2ab(wbout)],{type:dataType});

            function s2ab(s) {
                var buf = new ArrayBuffer(s.length);
                var view = new Uint8Array(buf);
                for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                return buf;
            }

            if (navigator.msSaveBlob) {
                navigator.msSaveBlob(blob, filename);
            } else {
                var url = URL.createObjectURL(blob);
                downloadLink.href = url;
                downloadLink.download = filename;
                downloadLink.click();
                document.body.removeChild(downloadLink);
            }
        }
          // Update current date in footer
          const currentDateSpan = document.getElementById('currentDate');
        const currentYearSpan = document.getElementById('currentYear');
        const footer = document.getElementById('footer');

        function updateCurrentDate() {
            const currentDate = new Date();
            const options = { year: 'numeric', month: 'long', day: 'numeric' };
            const formattedDate = currentDate.toLocaleDateString('en-US', options);
            currentDateSpan.textContent = formattedDate;
            currentYearSpan.textContent = new Date().getFullYear();
        }

        updateCurrentDate(); // Call initially
    </script> -->
</body>
</html>
